* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

em,
i {
  font-style: normal;
}

img {
  /* 照顾低版本浏览器 */
  border: 0;
  /* 取消图片下面空白，图片和文字对齐 */
  vertical-align: middle;
}

button {
  cursor: pointer;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #ab4900;
}

button,
input {
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  /* 去掉默认边框 点击完出现的蓝色边框 */
  border: 0;
  outline: none;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  color: #666;
}

.hide,
.none {
  display: none;
}

.clearfix::after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}

.clearfix {
  *zoom: 1;
}